<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in lstChucNang |orderBy:'SOTHUTU' track by item.MACHUCNANG " ng-dblclick="selectChucNang(item)">
                        {{item.TENCHUCNANG}}<i class="fa fa-arrow-circle-right" aria-hidden="true" style="float: right; font-size: 15px;" ng-click="selectChucNang(item)"></i>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-group">
                    <h3 style="margin-bottom: 10px;">Thêm mới</h3>
                    <li class="list-group-item" ng-repeat="item in lstAdd |orderBy:'SOTHUTU' track by item.MACHUCNANG" ng-dblclick="deSelectChucNangAdd(item)">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 15px;" ng-click="deSelectChucNangAdd(item)"></i>&nbsp;&nbsp;&nbsp;{{item.TENCHUCNANG}}
                        <span style="float: right;">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.XEM" />Xem
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.THEM" />Thêm
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.SUA" />Sửa
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.XOA" />Xóa
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.DUYET" />Duyệt
                            </label>
                        </span>
                    </li>
                </ul>
                <ul class="list-group">
                    <h3 style="margin-bottom: 10px;">Chỉnh sửa</h3>
                    <li class="list-group-item" ng-repeat="item in data |orderBy:'SOTHUTU' track by item.MACHUCNANG" ng-dblclick="deSelectChucNang(item)">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 15px;" ng-click="deSelectChucNang(item)"></i>&nbsp;&nbsp;&nbsp;{{item.TENCHUCNANG}}
                        <span style="float: right;">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.XEM" ng-change="modified(item)" />Xem
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.THEM" ng-change="modified(item)" />Thêm
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.SUA" ng-change="modified(item)" />Sửa
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.XOA" ng-change="modified(item)" />Xóa
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.DUYET" ng-change="modified(item)" />Duyệt
                            </label>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>