<style type="text/css">
    table tr th {
        text-align: center !important;
    }
</style>
<div class="modal-header" style="text-align:center;">
    <h3 class="modal-title">{{data.TIEUDE_BIEUMAU}}</h3>
</div>
<div class="modal-body">
    <form role="form" name="_form">
        <div class="row">
            <div class="col-md-4">
                <div class="text-label">
                    <label>Năm: {{data.NAM}}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-label" style="text-align:center; color:#d44350; font-size:22px;">
                    <label>{{data.TEN_BIEUMAU}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-label">
                    <label>Tên file: {{data.TEN_FILE}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-label">
                    <label>Thời gian upload: {{data.THOIGIAN}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="width: 3%;">STT</th>
                                <th style="width: 27%;">Họ và tên</th>
                                <th>Chi lương sai chế độ</th>
                                <th>Chi BHYT, BHXH sai chế độ</th>
                                <th>Chi thu nhập tăng them không đúng</th>
                                <th>Chi khen thưởng phúc lợi sai quy định</th>
                                <th>Chi khác</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data.Details">
                                <td>
                                    <input type="text" ng-model="item.STT_TIEUDE" style="width: 100%;text-align: center;" />
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="item.HO_VATEN" style="width: 100%;" />
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="item.CHI_LUONGSCD" style="width: 100%; text-align: right;" />
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="item.CHI_BHYTBHXH_SCD" style="width: 100%; text-align: right;" />
                                </td>
                                <td class="text-center">
                                    <input type="text" ng-model="item.CHI_THUNHAP" style="width: 100%; text-align: right;" />
                                </td>
                                <td>
                                    <input type="text" ng-model="item.CHI_KHENTHUONG" style="width: 100%; text-align: right;" />
                                </td>
                                <td class="text-right">
                                    <input type="text" ng-model="item.CHI_KHAC" style="width: 100%; text-align: right;" />
                                </td>
                                <td class="text-right">
                                    <input type="text" ng-model="item.GHI_CHU" style="width: 100%; text-align: right;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button prevent-default class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">Lưu</button>
    <button prevent-default class="btn btn-default" ng-click="cancel()">Đóng</button>
</div>