<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in lstNhomQuyen track by item.Value" ng-dblclick="selectNhomQuyen(item)">
                        {{item.Value}}--{{item.Text}}<i class="fa fa-arrow-circle-right" aria-hidden="true" style="float: right; font-size: 15px;" ng-click="selectNhomQuyen(item)"></i>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-group">
                    <h3>Thêm mới</h3>
                    <li class="list-group-item" ng-repeat="item in lstAdd track by item.MANHOMQUYEN" ng-dblclick="deSelectNhomQuyenAdd(item)">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 15px;" ng-click="deSelectNhomQuyenAdd(item)"></i>&nbsp;&nbsp;&nbsp;{{item.MANHOMQUYEN}}--{{item.TENNHOMQUYEN}}
                    </li>
                </ul>
                <ul class="list-group">
                    <h3>Chỉnh sửa</h3>
                    <li class="list-group-item" ng-repeat="item in data track by item.MANHOMQUYEN" ng-dblclick="deSelectNhomQuyen(item)">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 15px;" ng-click="deSelectNhomQuyen(item)"></i>&nbsp;&nbsp;&nbsp;{{item.MANHOMQUYEN}}--{{item.TENNHOMQUYEN}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>