<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã cán bộ</label>
                    <input type="text" class="form-control" ng-model="target.MA_CANBO" id="MA_CANBO" name="MA_CANBO" ng-blur="checkExist($scope.target.MA_CANBO)" maxlength="50" readonly>
                    <span style="color:red" ng-show="_form.MA_CANBO.$dirty && _form.MA_CANBO.$invalid">
                        <span ng-show="_form.MA_CANBO.$error.required">Không được để trống</span>
                        <span ng-show="_form.MA_CANBO.$error.maxlength">Bạn không được nhập quá 50 ký tự</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Tên cán bộ</label>
                    <input type="text" class="form-control" ng-model="target.TEN_CANBO" name="TEN_CANBO" maxlength="240" disabled>
                    <span style="color:red" ng-show="_form.TEN_CANBO.$dirty && _form.TEN_CANBO.$invalid">
                        <span ng-show="_form.TEN_CANBO.$error.required">Không được để trống</span>
                        <span ng-show="_form.TEN_CANBO.$error.maxlength">Bạn không được nhập quá 240 ký tự</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Chức vụ</label>
                    <select class="form-control" ng-model="target.MA_CHUCVU" disabled>
                        <option ng-repeat="opt in lstDmCanBo" value="{{opt.Value}}">{{opt.Text}}</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Giới tính</label>
                    <select ng-model="target.GIOI_TINH" ng-options="item.value as item.text for item in tempData('gioitinh')" class="form-control" disabled></select>
                </div>
                <div class="col-lg-6">
                    <label>Ngày sinh</label>
                    <input type="text" class="form-control" uib-datepicker-popup="{{config.dateFormat}}" ng-model="target.NGAY_SINH" name="NGAY_SINH" readonly />
                    <span style="color:red" ng-show="_form.NGAY_SINH.$dirty && _form.NGAY_SINH.$invalid">
                        <span ng-show="_form.NGAY_SINH.$error.required">Không được để trống</span>
                        <span ng-show="_form.NGAY_SINH.$error.maxlength">Bạn không được nhập quá 240 ký tự</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">               
                <div class="col-lg-6">
                    <label>Phòng số</label>
                    <input type="text" class="form-control" ng-model="target.SO_PHONG" name="SO_DI_DONG" maxlength="240" disabled>
                    <span style="color:red" ng-show="_form.SO_PHONG.$dirty && _form.SO_PHONG.$invalid">
                        <span ng-show="_form.SO_PHONG.$error.required">Không được để trống</span>
                        <span ng-show="_form.SO_PHONG.$error.maxlength">Bạn không được nhập quá 240 ký tự</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Số máy lẻ</label>
                    <input type="text" class="form-control" ng-model="target.SO_MAY_LE" name="SO_MAY_LE" maxlength="240" disabled>
                    <span style="color:red" ng-show="_form.SO_MAY_LE.$dirty && _form.SO_MAY_LE.$invalid">
                        <span ng-show="_form.SO_MAY_LE.$error.required">Không được để trống</span>
                        <span ng-show="_form.SO_MAY_LE.$error.maxlength">Bạn không được nhập quá 240 ký tự</span>
                    </span>
                </div>
            </div>

                <div class="row form-group">
                    <div class="col-lg-6">
                        <label>Số di động</label>
                        <input type="text" class="form-control" ng-model="target.SO_DI_DONG" name="SO_DI_DONG" maxlength="240" disabled>
                        <span style="color:red" ng-show="_form.SO_DI_DONG.$dirty && _form.SO_DI_DONG.$invalid">
                            <span ng-show="_form.SO_DI_DONG.$error.required">Không được để trống</span>
                            <span ng-show="_form.SO_DI_DONG.$error.maxlength">Bạn không được nhập quá 240 ký tự</span>
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <label>Trạng thái</label>
                        <select ng-model="target.TRANG_THAI" ng-options="item.value as item.text for item in tempData('statusStr')" class="form-control" disabled></select>
                    </div>
                </div>
</form>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>