<style type="text/css">
    a {
        cursor: pointer;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>Danh mục cán bộ</h2>
            <div style="padding: 20px 0px;">
                <button prevent-default class="btn btn-primary" title="Thêm mới" ng-click="create()" ng-if="accessList.Add" style="float: left;margin-right: 10px;">{{config.label.btnCreate}}</button>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="filtered.Summary" ng-enter="doSearch()">
                    <div class="input-group-btn">
                        <button class="btn btn-default" prevent-default title="Tìm kiếm" ng-click="doSearch()" ng-if="accessList.View"><span class="fa fa-search"></span>&ensp;{{config.label.btnSearch}}</button>
                        <button class="btn btn-default" prevent-default title="Tải lại trang" ng-click="refresh()" ng-if="accessList.View"><span class="fa fa-refresh"></span>&ensp;{{config.label.btnRefresh}}</button>
                        <button class="btn btn-default" prevent-default title="Xuất Excel" ng-click="export()"><span class="fa fa-download"></span>&ensp;Xuất Excel</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th width="10%"><a>Hành động</a></th>

                            <th>
                                <a ng-click="sortType = 'MA_CANBO'; sortReverse = !sortReverse">
                                    Mã cán bộ
                                    <span ng-show="sortType == 'MA_CANBO' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'MA_CANBO' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="sortType = 'TEN_CANBO'; sortReverse = !sortReverse">
                                    Tên cán bộ
                                    <span ng-show="sortType == 'TEN_CANBO' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'TEN_CANBO' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="sortType = 'MA_PHONG'; sortReverse = !sortReverse">
                                    Phòng ban
                                    <span ng-show="sortType == 'MA_PHONG' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'MA_PHONG' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="sortType = 'MA_CHUCVU'; sortReverse = !sortReverse">
                                    Chức vụ
                                    <span ng-show="sortType == 'MA_CHUCVU' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'MA_CHUCVU' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="sortType = 'GIOI_TINH'; sortReverse = !sortReverse">
                                    Giới tính
                                    <span ng-show="sortType == 'GIOI_TINH' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'GIOI_TINH' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="sortType = 'NGAY_SINH'; sortReverse = !sortReverse">
                                    Ngày sinh
                                    <span ng-show="sortType == 'NGAY_SINH' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'NGAY_SINH' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            <th>
                                <a ng-click="sortType = 'SO_PHONG'; sortReverse = !sortReverse">
                                    Phòng số
                                    <span ng-show="sortType == 'SO_PHONG' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'SO_PHONG' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="sortType = 'SO_MAY_LE'; sortReverse = !sortReverse">
                                    Số máy lẻ
                                    <span ng-show="sortType == 'SO_MAY_LE' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'SO_MAY_LE' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>

                            <th>
                                <a ng-click="sortType = 'SO_DI_DONG'; sortReverse = !sortReverse">
                                    Số di động
                                    <span ng-show="sortType == 'SO_DI_DONG' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'SO_DI_DONG' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="sortType = 'TRANG_THAI'; sortReverse = !sortReverse">
                                    Trạng thái
                                    <span ng-show="sortType == 'TRANG_THAI' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'TRANG_THAI' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-if="accessList.View">
                        <tr ng-show="data==NULL ||data.length<=0">
                            <td colspan="8" style="background-color: #e2e2e2;">
                                <p>Không có dữ liệu</p>
                            </td>
                        </tr>
                        <tr ng-repeat="item in data | orderBy:sortType:sortReverse track by $index ">
                            <td style="text-align: center;">
                                <a class="fa fa-search" ng-click="detail(item)" ng-if="accessList.View"></a> &nbsp;&nbsp;&nbsp;
                                <a class="fa fa-pencil" ng-click="edit(item)" ng-if="accessList.Edit"></a> &nbsp;&nbsp;&nbsp;
                                <a class="fa fa-remove" ng-click="delete(item)" ng-if="accessList.Delete"></a>
                            </td>

                            <td>{{item.MA_CANBO}}</td>
                            <td>{{item.TEN_CANBO}}</td>
                            <td>{{item.MA_PHONG}}</td>
                            <td>{{displayHepler2('lstDmCanBo',item.MA_CHUCVU)}}</td>
                            <td>{{displayHepler('gioitinh',item.GIOI_TINH)}}</td>
                            <td>{{item.NGAY_SINH | date : 'dd/MM/yyyy'}}</td>
                            <td>{{item.SO_PHONG}}</td>
                            <td>{{item.SO_MAY_LE}}</td>
                            <td>{{item.SO_DI_DONG}}</td>
                            <td>{{displayHepler('statusStr',item.TRANG_THAI)}}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: right;" ng-if="accessList.View">
                    <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                    ng-change="pageChanged()"
                                    items-per-page="paged.itemsPerPage" ng-if="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.maxSize"
                                    boundary-links="true" num-pages="paged.totalPage"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
